
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
  padding: 50px;
  background-position:center ;
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-attachment:fixed;
  background-color: teal;
  

}

 .container {
  max-width: auto;
  margin: 0 auto;
  
}

h1 {
  font-size: 7em;
  font-family: cursive;
  color: teal;
 
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

recipe-list {
  list-style: none;
  padding: 0;
}

/* Styles for individual recipe items */
.recipe-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/*Styles for the recipe title */
.recipe-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Styles for the recipe description */
.recipe-description {
  margin-top: 10px;
  color: #333;
}

/* Style for the "Create a New Recipe" link */
.create-recipe-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  background-color: teal;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.create-recipe-link:hover {
  background-color: #0056b3;

}
